.section5 {
	margin-top: 6.5rem;
	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 2rem;
		.content1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.8rem;
			.div1 {
				display: flex;
				justify-content: center;
				align-items: center;
				h2 {
					color: black;
					font-weight: 700;
					font-size: 2rem;
				}
			}
			.div2 {
				display: flex;
				justify-content: center;
				align-items: center;
				p {
					color: #707273;
					font-weight: 400;
					font-size: 1.2rem;
				}
			}
		}
		.content2 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 768px) {
				display: flex;
				flex-direction: column;
			}
			.card {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				gap: 0.5rem;
				.p {
					color: #252626;
					font-weight: 600;
					font-size: 1.4rem;
				}
				p {
					color: #707273;
					font-weight: 400;
					font-size: 1.2rem;
				}
			}
		}
	}
}
